<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/splash.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="javascripts/splash.js"></script>
    <title> Reversi Online </title>
</head>

<body>
    <div id="background">

        <img src="images/logo.png" alt="logo" class="logo">

        <div class="buttons">
            <form action="/play" method="get">
                <button type="submit" id="play" class="buttons">
                    Play
                </button>
            </form>

            <button type="button" id="instructions" class="buttons">
                Instructions
            </button>
        </div>

        <div class="statistics">
            <div class="auto-visible pastVisitor">
                <img src="images/icons/eyeIcon.svg" alt="eye_pc" class="animage eyePc">
                <span>
                    <h1 id="pastVisitorNumber"> 
                        <%= visitors %> 
                        past visitors 
                    </h1>
                </span>
            </div>

            <div class="auto-visible ongoingGames">
                <img src="images/icons/GameIcon.svg" alt="board_pc" class="animage boardPc">
                <span>
                    <h1 id="ongoingGamesNumber">
                        <%= gamesOnGoing %> 
                        ongoing games
                    </h1>
                </span>
            </div>

            <div class="auto-visible playersOnline">
                <img src="images/icons/playersIcon.svg" alt="people_pc" class="animage peoplePc">
                <span>
                    <h1 id="playersOnlineNumber"> 
                        <%= playerOnline %> 
                        players online 
                    </h1>
                </span>
            </div>
        </div>
        <div id="instructionPage" class="instructionPage">
            <div class="instructionPageContent">
                <h1 id="instructionTitle">Instructions</h1>
                <h1 id="line1"> The board always starts with 2 white disks and 2 black disks placed across each other.
                    The player with black disk goes first.<br />
                    2. The black disk must be placed where there exists at least one straight (horizontal, vertical, or
                    diagonal) occupied line between the new disk and another black disk, with one or more contiguous
                    white disks
                    between them.<br />
                    3. The black disk must be placed where there exists at least one straight (horizontal, vertical, or
                    diagonal) occupied line between the new disk and another black disk,
                    with one or more contiguous white disks between them.<br />
                    4. Next, it is the turn for the player with white disk. <br />
                    5. The rule for the player with white disk of placing the disk is the same with instruction 3. <br />
                    6. Next, it is the turn for the player with black disk. If one player is unable to connect an
                    occupied line with the disk with the color assigned to him/her on the other side, play passes back
                    to the other player. Shifts goes on and on.
                    When neither player can move, the game ends. At the end of the game, the player with the most
                    pieces on the board wins.<br />
                </h1>
                <h2 id="hint"> Hint: </h2>
                <button type="button" id="close"> &#10060 </button>
            </div>
        </div>
        <div>
            <p id="resolutionAlert"> Your screen resolution is below the standard. For optimal user experience, 
                please change to a screen with minimum 1366*768 resolution.</p>
        </div>
    </div>
</body>

</html>